/* src/App.css */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

.app {
  padding: 20px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
